// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};

window.Bar {
    background: $bg-color;
    min-height: 30px;
    color: $fg-color;
    font-weight: 800;
    font-family: JetBrains Mono Nerd Font Mono; 

    >centerbox {
        background: $bg-color;
    }

    button {
    }
}
