// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};

window.Bar {
    background: #171D23;
    min-height: 40px;
    min-width: 40px;
    color: $fg-color;
    font-weight: 600;
    font-size: 16px;

    >centerbox {
        >image {
          min-height: 40px;
          min-width: 32px;
          background-size: cover;
          background-position: center;
        };
        >label {
        };

    };

    button {
    };
    .music-info {
      min-width: 300px;
      margin-left: 4px;
    }
    .music-artist {
      font-size: 12px;
      color:#B7C5D3;
      font-weight: bold;
      font-family:  Noto Sans CJK JP, Noto Sans;
      text-shadow: 1px 1px 5px #000000B3;
    }
    .music-grid{
      min-height: 40px;
      min-width: 40px;
    }
    .artist-container{
      min-width: 40px;
    }
    .title-container {
      min-width: 40px;
    }
};
    .music-title {
      font-size: 16px;
      color: #FF9E64;
      font-weight: bold;
      font-family:  Noto Sans CJK JP, Noto Sans;
      text-shadow: 0 0 6px #FF9E64CC;
    }
    .grid-container {
    };

