#window {
   border-radius: 15px;
   background-color: #${config.colorScheme.palette.base00};
   padding: 5px;
}
#outer-box {
  border: 1px solid #${config.colorScheme.palette.base0E};
  border-radius:15px;
}
#img {
   margin-left: 16px;
}
#input{
  margin: 15px;
  box-shadow: none;
  border: none;
  opacity: 0.9;
  background-color: #${config.colorScheme.palette.base00};
}
#input:focus{
  border-image: none;
}
#text {
  margin-left: 10px;
}
#entry:selected {
  all: unset;
  background-color: #${config.colorScheme.palette.base0D};
  border-radius: 5px;
  font-size: 0.8em;
}
#entry:selected:last-child {
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}
#entry {
  border-radius: 5px;
  font-size: 0.8em;
}
#scroll {
    all: unset;
    border: none;
}
#entry:focus {
    background: #${config.colorScheme.palette.base0D};
    font-size: 0.8em;
}
*{
  font-family: monospace;
  font-size: 1.04em;
  font-weight: bold;
  color: #${config.colorScheme.palette.base07};
}
